[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent

# CS0414: The field 'Form1.numberExists' is assigned but its value is never used
dotnet_diagnostic.CS0414.severity = warning
